/*** Mixins & Default Styles ***/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  text-decoration: none;
  background-color: black;
  font-family: "Roboto";
  overflow-x: hidden;
  overflow-y: scroll;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
}

/*** Navigation Styles ***/

nav a {
  color: #000;
}

.navShadow a {
  color: #fff;
}

nav {
  text-decoration: none;
  text-align: center;
  width: 100vw;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  background-color: #fff;
  color: #000;
}

nav.navShadow {
  color: #fff;
  background-color: #000;
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
}

.navShadow li:hover {}

#brand,
#menu,
ul {
  letter-spacing: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#brand {
  padding-left: 30px;
  width: 100px;
  font-family: "Roboto";
  text-decoration: none;
}

#logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#word-mark {
  text-decoration: none;
  font-weight: 90;
  letter-spacing: 1px;
  padding-bottom: 25px;
  font-family: "Roboto";
  font-size: 13pt;
  width: 120px;
  height: 20px;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  transition: all 0.3s;
}

/*** Menu Styles ***/
#menu {
  font-family: "Roboto";
  padding-top: 11px;
  justify-content: flex-end;
  padding-right: 40px;
  text-decoration: none;
}

li {
  margin-left: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
}

li a {
  text-decoration: none;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  display: table-cell;
  border-radius: 90px;
  margin-right: 15px;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

.menu-item {
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
  list-style-type: none;
}

.menu-item+.menu-item {
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
}

.menu-item:hover {
  text-decoration: none;
  transform: scale(1.2);
  transition-duration: 0.3s;
  font-weight: bold;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#menu-toggle:hover .bar {
  width: 25px;
}

#menu-toggle.closeMenu .bar {
  width: 25px;
}

#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}

.bar:last-child {
  width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
  background-color: #000;
  width: 100vw;
  height: calc(100vh - 160px);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

#head-line {
  width: 520px;
  height: 30px;
  border-radius: 90px;
  position: relative;
}

#head-line:before,
#head-line:after {
  content: "";
  height: 30px;
  border-radius: 90px;
}

#head-line:before {
  width: 360px;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#head-line:after {
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/*** Section Styles ***/
section {
  width: 100vw;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

#nostroHeading {
  padding-top: 125px;
  text-align: center;
  font-size: 4em;
  width: 100%;
  border-radius: 90px;
  font-weight: 900;
}

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 786px) {
  #menu-toggle {
    display: flex;
  }

  ul {
    display: inline-block;
    width: 0;
    height: 100vw;
    background: #000;
    position: absolute;
    top: 160px;
    left: 0px;
    -webkit-transform: translate();
    transform: translate();
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }

  ul.showMenu {
    background: white;
    height: 20000vh;
    width: 85%;
    right: 0px;
  }

  ul.showMenu li {
    margin-left: 30%;
    height: 80px;

    opacity: 1;
    visibility: visible;
  }

  .azienda {
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-family: "Quicksand";
    align-content: center;
    max-width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }

  li:first-child,
  li:nth-child(2) {
    margin-top: 20px;
  }

  #head-line {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/*Custom*/

#footer {
  padding-top: 40px !important;
  padding-bottom: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-family: "Roboto";
}

#footer i:hover {
  transform: scale(1.3);
  transition-duration: 0.2s;
}

#footer i {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer !important;
  transition-duration: 0.2s;
}

#footer a {
  color: white !important;
  cursor: pointer !important;
  transition-duration: 0.2s;
}

#footer p {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 10px;
}

#caricamento {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sezione0 {
  background-color: #5f1111;
  color: rgb(255, 255, 255);
}

.sezione1 {
  background-color: #5f114b;
  color: rgb(255, 255, 255);
}

.sezione2 {
  background-color: #3e115f;
  color: rgb(255, 255, 255);
}

.sezione3 {
  background-color: #11165f;
  color: rgb(255, 255, 255);
}

.sezione4 {
  background-color: #115f50;
  color: rgb(255, 255, 255);
}

.sezione5 {
  background-color: #949121;
  color: rgb(255, 255, 255);
}

.sezione6 {
  background-color: #943521;
  color: rgb(255, 255, 255);
}

.sezione7 {
  background-color: #5f1111;
  color: rgb(255, 255, 255);
}

.separator0 {
  height: 50px;
  width: 100vw;
  background: #5f1111;
  background: linear-gradient(180deg, #5f1111 10%, #5f114b 89%);
}

.separator1 {
  height: 50px;
  width: 100vw;
  background: #5f114b;
  background: linear-gradient(180deg, #5f114b 10%, #3e115f 89%);
}

.separator2 {
  height: 50px;
  width: 100vw;
  background: #3e115f;
  background: linear-gradient(180deg, #3e115f 10%, #11165f 89%);
}

.separator3 {
  height: 50px;
  width: 100vw;
  background: #11165f;
  background: linear-gradient(180deg, #11165f 10%, #115f50 89%);
}

.separator4 {
  height: 50px;
  width: 100vw;
  background: #115f50;
  background: linear-gradient(180deg, #115f50 10%, #949121 89%);
}

.separator5 {
  height: 50px;
  width: 100vw;
  background: #949121;
  background: linear-gradient(180deg, #949121 10%, #943521 89%);
}

.separator6 {
  height: 50px;
  width: 100vw;
  background: #943521;
  background: linear-gradient(180deg, #943521 10%, #5f1111 89%);
}

.separator7 {
  display: none;
}

#materian0:hover {
  color: #5f1111;
  transition-duration: 0.3s;
}

#materian1:hover {
  color: #5f114b;
  transition-duration: 0.3s;
}

#materian2:hover {
  color: #3e115f;
  transition-duration: 0.3s;
}

#materian3:hover {
  color: #11165f;
  transition-duration: 0.3s;
}

#materian4:hover {
  color: #115f50;
  transition-duration: 0.3s;
}

#materian5:hover {
  color: #949121;
  transition-duration: 0.3s;
}

#materian6:hover {
  color: #943521;
  transition-duration: 0.3s;
}

#materian7:hover {
  color: #5f1111;
  transition-duration: 0.3s;
}

/* Button Styles */

.nostroButton {
  display: inline-flex;
  height: 60px;
  width: 250px;
  border: 2px solid #fff;
  margin: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 1px;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;

  left: 70px;
}

/**/

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #000;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.2em;
  }

  #container {
    width: 50%;
  }
}

.bgimg {
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  filter: none;
  -webkit-filter: none;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition-duration: 0.3s;
}

.azienda {
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  color: black;
  font-family: "Quicksand";
  align-content: center;
  max-width: 30%;
  min-width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testo {
  font-weight: 900;
  position: absolute;
  font-family: "Roboto";
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.hidden {
  margin-top: 50px;
  height: 0;
  transition-duration: 0.5s;
}

.loading {
  width: 100vw;
  margin: 0 auto;
  height: 8px;
  background-color: black;
  position: relative;
  transition: all 300ms ease-in-out;
}

.loading:hover {
  height: 20px;
}

.loading:before,
.loading:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  background-color: white;
  animation: motion 2s infinite ease;
  border-radius: 3px;
}

.loading:after {
  animation-delay: 900ms;
}

@keyframes motion {
  0% {
    left: 0;
    width: 0;
  }

  20% {
    left: 20%;
    width: 60%;
  }

  40% {
    left: 30%;
    width: 20%;
  }

  60% {
    left: 60%;
    width: 10%;
  }

  80% {
    left: 70%;
    width: 30%;
  }

  100% {
    left: 100%;
    width: 0;
  }
}

.progress {
  justify-content: center;
  width: 75%;
}

#primaParte {
  background-color: #000;
  min-height: 35%;
  height: 100vh;
}

.pure-material-slider {
  --pure-material-safari-helper1: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
  --pure-material-safari-helper2: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
  --pure-material-safari-helper3: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
  --pure-material-safari-helper4: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
  display: inline-block;
  width: 200px;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-slider>input {
  -webkit-appearance: none;
  position: relative;
  top: 24px;
  display: block;
  margin: 0 0 -36px;
  width: 100%;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
}

/* Without Span */
.pure-material-slider>input:last-child {
  position: static;
  margin: 0;
}

/* Span */
.pure-material-slider>span {
  display: inline-block;
  margin-bottom: 36px;
}

/* Focus */
.pure-material-slider>input:focus {
  outline: none;
}

/* Disabled */
.pure-material-slider>input:disabled {
  cursor: default;
  opacity: 0.38;
}

.pure-material-slider>input:disabled+span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Webkit | Track */
.pure-material-slider>input::-webkit-slider-runnable-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* Webkit | Thumb */
.pure-material-slider>input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.pure-material-slider:hover>input::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper1);
}

.pure-material-slider>input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper2);
}

.pure-material-slider:hover>input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper3);
}

/* Webkit | Active */
.pure-material-slider>input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper4) !important;
}

/* Webkit | Disabled */
.pure-material-slider>input:disabled::-webkit-slider-runnable-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider>input:disabled::-webkit-slider-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  color: rgb(var(--pure-material-surface-rgb, 255, 255, 255));
  /* Safari */
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

/* Moz | Track */
.pure-material-slider>input::-moz-range-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* Moz | Thumb */
.pure-material-slider>input::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* Moz | Progress */
.pure-material-slider>input::-moz-range-progress {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* Moz | Hover, Focus */
.pure-material-slider:hover>input:hover::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
}

.pure-material-slider>input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
}

.pure-material-slider:hover>input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
}

/* Moz | Active */
.pure-material-slider>input:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* Moz | Disabled */
.pure-material-slider>input:disabled::-moz-range-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider>input:disabled::-moz-range-progress {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-slider>input:disabled::-moz-range-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

.pure-material-slider>input::-moz-focus-outer {
  border: none;
}

/* MS | Track */
.pure-material-slider>input::-ms-track {
  box-sizing: border-box;
  margin: 17px 0;
  border: none;
  border-radius: 1px;
  padding: 0 17px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.pure-material-slider>input::-ms-fill-lower {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* MS | Progress */
.pure-material-slider>input::-ms-fill-upper {
  border-radius: 1px;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* MS | Thumb */
.pure-material-slider>input::-ms-thumb {
  appearance: none;
  margin: 0 17px;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* MS | Hover, Focus */
.pure-material-slider:hover>input::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
}

.pure-material-slider>input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
}

.pure-material-slider:hover>input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
}

/* MS | Active */
.pure-material-slider>input:active::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* MS | Disabled */
.pure-material-slider>input:disabled::-ms-fill-lower {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider>input:disabled::-ms-fill-upper {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  opacity: 0.38;
}

.pure-material-slider>input:disabled::-ms-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}